div.input 
    h2 input

    h3 1.模板
    h5.demo 
      pre(hljs hljs-language="javascript")
        |component-input(
        |    model="inputName" 
        |    input-type="normal" 
        |    input-class="input_name" 
        |    input-name="" 
        |    placeholder="请输入..." 
        |    is-disabled="disabled"
        |    maxlength="maxlength"
        |    isReadonly="true"
        |    change="changeEvent()"
        |    enter="enterEvent()"
        |    focus="focusEvent()"
        |    blur="blurEvent()"
        |)

    h3 2.实例
    h4 2.1、input类型（normal/date）
    component-input(
        model="inputNormal" 
        input-type="normal"
        is-disabled="false"
        placeholder="normal"
        style="margin-left:40px;margin-right:5px;"
    )
    component-input(
        model="inputDate" 
        input-type="date"
        is-disabled="false"
        placeholder="date"
    )
    h4 2.2、实例测试
    h5.demo 测试框:
    .main
        component-input(
            model="inputName" 
            input-type="normal" 
            input-class="input_name" 
            input-name="" 
            placeholder="请输入..." 
            is-disabled="disabled"
            maxlength="maxlength"
            isReadonly="true"
            change="changeEvent()"
            enter="enterEvent()"
            focus="focusEvent()"
            blur="blurEvent()"
        )
        span.flag(ng-class="{wrong:disabled}") {{flag}}
        .input_setting
            component-button.button(type='first' ng-click="disableEvent()" btn-name="{{disabled?'normal':'disabled'}}")
            .self_input
                .leftWords 可输入的文字的最大长度
                input.maxLengthShow(ng-model="lengthValue" ng-change="inputChange()")
                .parent_add
                    span.top(ng-click="topEvent()")
                    span.bottom(ng-click="bottomEvent()")
        .support.common *支持focus、blur、change、enter事件
        .annotation.common (可通过上方测试框进行相应的操作)
        .consoleLog {{inputValue}}
        
    h3 3.属性描述
    h5.desc.setting
      dl
        dt model:
        dd 绑定了 HTML 表单元素到 scope 变量中
      dl
        dt input-type:
        dd 输入框类型(normal/date)
      dl 
        dt is-disabled:
        dd 布尔值，状态是否可操作
      dl 
        dt maxlength:
        dd 可输入的最大长度
      dl 
        dt change:
        dd 监测input框改变的方法
      dl 
        dt focus:
        dd 监测input框焦点的方法
      dl 
        dt blur:
        dd 监测input框失去焦点的方法
      dl 
        dt enter:
        dd 监测input框按下enter键的方法
