//- 输入框组件 pug模板
.component__input
    input(
        type="{{type||'text'}}"
        id="{{inputId}}" 
        class="{{inputType}} {{inputClass}}" 
        ng-class="{'disabled': isDisabled, 'focus': isFocus}" 
        name="{{inputName}}" 
        value="" 
        maxlength="{{maxlength}}" 
        ng-disabled="isDisabled" 
        ng-model="model" 
        placeholder="{{placeholder}}"
        ng-change="change()" 
        ng-keyup="enterEvent($event)" 
        ng-blur="blurEvent()" 
        ng-focus='focusEvent()'
    )
